.container {
  width: 200px;
  height: 350px;
  /* background-image: url("https://picsum.photos/200/500"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

.img-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;

  position: absolute;

  top: 20px;
  left: 10px;

  /* background-image: url("https://picsum.photos/200/200"); */
}

.container p {
  position: absolute;

  color: #fff;
  font-weight: bold;

  bottom: 15px;
  left: 10px;

  font-size: 14px;
}
